* {
    box-sizing: border-box;
}
body{
    color: rgb(255, 125, 125);
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    background: url(BG2.png)no-repeat center/cover;
    height: 85vh;

}
h1{
    font-size: 45px;
}


a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.wrapper{
    margin: 0 auto;
    width: 70%;
}


header{
    border-bottom: 1px solid rgb(255, 255, 255);
}
header li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

header li a {
    display: block;
    padding: 20px;
}

header li:hover a{
    background-color:rgb(0, 0, 0) ;
    color: rgb(255, 255, 255);
}


header li:hover .sub_menu{
    display: block;
}

.sub_menu{
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 200px;
}


.sub_menu li {
    display: block;
}

.sub_menu li a {
color: blue;
}
.sub_menu li:hover a {
    background-color: rgb(0, 102, 255);
    color: rgb(255, 255, 255);
}
section.wrapper{
    margin-top: 50px;
}
iframe{
    margin: 200px 600px ;
}
